@model Accommodation_App.Models.User

@{
    ViewBag.Title = "Registration Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
@using (Html.BeginForm("Register", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
        <p><h2> User Account </h2></p>
        <form>
            <div class="row ">

                <div class="col-md-10 col-md-offset-1">
                    @Html.ValidationSummary(true, "Registration failed. Check your details", new { @class = "text-danger" })
                    <div class="form-group" style="position: static;">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        <input type="text" class="form-control" id="input-id-1" placeholder="First name" name="FirstName" />

                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        <input type="text" class="form-control" id="input-id-2" placeholder="Last name" name="LastName" />

                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        <input type="text" class="form-control" id="input-id-3" placeholder="Username" name="UserName" />

                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        <input type="email" class="form-control" id="input-id-4" placeholder="email" name="Email">

                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <input type="password" class="form-control" id="input-password-1" placeholder="password" name="Password">

                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        <input type="password" class="form-control" id="input-password-2" placeholder="confirm password" name="ConfirmPassword">

                        @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                        <input type="text" class="form-control" id="input-id-5" placeholder="Your role" name="Role" />

                        @Html.LabelFor(model => model.TelephoneNum, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.TelephoneNum, "", new { @class = "text-danger" })
                        <input type="text" class="form-control" id="input-id-6" placeholder="Telephone number" name="TelephoneNum" />
                    </div>
                    <div class="col-lg-10"> <button class="signin-button btn btn-default" type="submit">Submit</button> </div>

                </div>
            </div>
        </form>


        }

</body>
</html>

