@model Accommodation_App.Models.Property

<div>
    <h4>Advertisment Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
          Number of Rooms:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt>
            Rent Price:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentPrice) £
        </dd>

        <dt>
            Furnished status:
        </dt>
        @if (Model.isFurnished == true)
        {
            <dd>Furnished</dd>
        }
        else
        {
            <dd>Not furnished</dd>
        }
        <dt>
        <dt>
          Available from:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableDate)
        </dd>

        <dt>
          Expiry Date:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
           Created at:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img src='~/UploadFiles/@Model.Photo' alt="Uploaded image" width="250px" class="accommodation-image" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Advertisement List", "Index")
</p>
