@model List<Accommodation_App.Models.User>

@{
    ViewBag.Title = "Accommodation Officer Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
     = "~/Views/Shared/_Navbar.cshtml";
}

<head>

</head>

<h2>Hello Accommodation Officer @ViewData["UserName"]</h2>
<h4> The Registered Landlords are: </h4>

@foreach (var item in Model)
{
    <p>
        @item.UserId

        @item.FirstName

        @item.LastName

        @Html.ActionLink("Go to the Landlord's page", "LandlordPropertiesPage", "AOProf", new { id = item.UserId }, null)

    </p>

}


