@model IEnumerable<Accommodation_App.Models.Property>

@{
    ViewBag.Title = "Landlord's Properties Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
   
</head>

<body>

    <h2>deatils of the landlord's property</h2>
    <table class="table">
        <tr>
            <th>Pro ID</th>
            <th>Name</th>
            <th>Property Type</th>
            <th>Description</th>
            <th>Price</th>
            <th>Rooms No.</th>
            <th>Address</th>
            <th>Landlord's id</th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>@item.ProId</td>
                <td> @item.Name </td>
                <td> @item.Type</td>
                <td> @item.Description </td>
                <td> @item.RentPrice </td>
                <td> @item.RoomNumber</td>
                <td> @item.Address</td>
                <td>@item.OwnerId</td>
                <td> <img src='~/UploadFiles/@item.Photo' alt="Uploaded image" width="150px" /></td>

                <button value="Reject" onclick="location.href='@Url.Action("Reject", "AOProf", new { id = item.ProId })'"> Reject </button>

                <button value="Accept" onclick="location.href='@Url.Action("Accept", "AOProf", new { id = item.ProId })'"> Accept </button>   

            </tr>

        }


           
       
    </table>

</body>
