@model IEnumerable<Accommodation_App.Models.Property>

@{
    ViewBag.Title = "Landlord Properties Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

</head>

<h2>Landlord's Properties Page</h2>


@foreach (var item in Model)
{

    <p>
        @item.ProId

        @item.Name

        @item.Type

        @*@Html.ActionLink("The Property's Details: ", "PropertyDetails", "Landlord")*@

        @Html.ActionLink("The Property's Details: ", "PropertyDetails", "Landlord", new { id = item.ProId }, null)

    </p>

    @*
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
    *@

}
